<!-- Complete Tab -->
<div class="tab-pane fade" id="complete" role="tabpanel" aria-labelledby="complete-tab">
  <div class="container px-3 pt-3">
    <div class="section-header fw-bold">Completed Registrations</div>

    <!-- Entries and Search Bar -->
    <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
      <div>
        <select id="completeCustomEntries" class="form-select d-inline w-auto border-secondary fw-bold" style="font-size: calc(0.8rem + 0.2vw); cursor: pointer;">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <span class="ms-2">Entries per page</span>
      </div>
      <div>
        <input type="text" id="completeSearchBar" class="form-control d-inline w-auto border-secondary" placeholder="Search..." style="font-size: calc(0.8rem + 0.2vw);">
      </div>
    </div>
  </div>

  <!-- Completed Registrations Table -->
  <div class="table-responsive">
    <table class="table table-hover align-middle projectTables" id="completeDataTable">
      <thead class="table-dark">
        <tr>
          <th class="text-start">Student Number</th>
          <th>Student Name</th>
          {% if request.user.role == 'ADMIN' %}
          <th>Department</th>
          {% endif %}
          <th>Program</th>
          <th>Submitted On</th>
          <th>Processed On</th>
        </tr>
      </thead>
      <tbody>
        {% for reg in completed_regs %}
        <tr>
          <td class="text-start">{{ reg.student.student_id }}</td>
          <td>{{ reg.student.user.last_name }}, {{ reg.student.user.first_name }}</td>
          {% if request.user.role == 'ADMIN' %}
          <td>{{ reg.student.department.name }}</td>
          {% endif %}
          <td>{{ reg.student.program.name }}</td>
          <td>{{ reg.registration_date|date:"M. d, Y - H:i A" }}</td>
          <td>{{ reg.completed_at|date:"M. d, Y - H:i A" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="completeCustomPagination"></div>
</div>