{% extends "home/layout.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'studentSubjectCheckList/main.css' %}">
{% endblock style %}

{% block body %}
<div class="container">
  <div class="d-flex justify-content-between border-bottom align-items-center">
    {% if request.user.role != "STUDENT" %}
      <h3>Student Subject Checklist - <span class="text-primary">Student Number: {{ student_profile.student_id }}</span></h3>
    {% else %}
      <h3>Subject - <span class="text-primary">CheckList</span></h3>
    {% endif %}
  </div>

  <!-- Nav tabs -->
  <div class="d-flex align-items-center mt-4">
    <ul class="nav nav-tabs flex-grow-1" id="subjectTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active fw-bold" id="studentProfile-tab" data-bs-toggle="tab" data-bs-target="#studentProfile" type="button" role="tab" aria-controls="studentProfile" aria-selected="true">Student Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link fw-bold" id="firstYearCheckList-tab" data-bs-toggle="tab" data-bs-target="#firstYearCheckList" type="button" role="tab" aria-controls="firstYearCheckList" aria-selected="false">1st Yr.</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link fw-bold" id="secondYearCheckList-tab" data-bs-toggle="tab" data-bs-target="#secondYearCheckList" type="button" role="tab" aria-controls="secondYearCheckList" aria-selected="false">2nd Yr.</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link fw-bold" id="thirdYearCheckList-tab" data-bs-toggle="tab" data-bs-target="#thirdYearCheckList" type="button" role="tab" aria-controls="thirdYearCheckList" aria-selected="false">3rd Yr.</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link fw-bold" id="fourthYearCheckList-tab" data-bs-toggle="tab" data-bs-target="#fourthYearCheckList" type="button" role="tab" aria-controls="fourthYearCheckList" aria-selected="false">4th Yr.</button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link fw-bold" id="minorSubCheckList-tab" data-bs-toggle="tab" data-bs-target="#minorSubCheckList" type="button" role="tab" aria-controls="minorSubCheckList" aria-selected="false">MINOR SUBS</button>
      </li>
    </ul>
    {% if request.user.role != "STUDENT" %}
    <a href="{% url 'student-subject-studentlist' %}" class="btn btn-secondary close-tab ms-3">
      <i class="fa-solid fa-xmark fw-bold"></i>
    </a>
    {% endif %}
  </div>  
  

 <!-- Tab content -->
<article class="tab-content content-section shadow-lg p-0" id="subjectTabsContent">
  {% include 'studentSubjectCheckList/subject_list_tabs/studentProfile.html' %}
  {% include "studentSubjectCheckList/subject_list_tabs/firstYearSubjects.html" %}
  {% include "studentSubjectCheckList/subject_list_tabs/secondYearSubjects.html" %}
  {% include "studentSubjectCheckList/subject_list_tabs/thirdYearSubjects.html" %}
  {% include "studentSubjectCheckList/subject_list_tabs/fourthYearSubjects.html" %}
  {% include "studentSubjectCheckList/subject_list_tabs/minorSubjects.html" %}
</article> 

</div>
{% endblock body %}

{% block script %}
  <script src="{% static 'studentSubjectCheckList/firstYearDataTables.js' %}"></script>
  <script src="{% static 'studentSubjectCheckList/secondYearDataTables.js' %}"></script>
  <script src="{% static 'studentSubjectCheckList/thirdYearDataTables.js' %}"></script>
  <script src="{% static 'studentSubjectCheckList/fourthYearDataTables.js' %}"></script>
  <script src="{% static 'studentSubjectCheckList/minorSubjectsDataTables.js' %}"></script>

  <script>
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function(e) {
      localStorage.setItem('activeTab', $(e.target).attr('data-bs-target'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab) {
      var someTabTriggerEl = document.querySelector('button[data-bs-target="' + activeTab + '"]');
      if(someTabTriggerEl) {
        var tab = new bootstrap.Tab(someTabTriggerEl);
        tab.show();
      }
    }

  </script>
  
{% endblock script %}
